.title {
	display: flex;
	justify-content: center;
	align-items: center;
}
.rndm {
	display: flex;
	justify-content: center;
	align-items: center;
}

.pokemonImg {
	display: flex;
	justify-content: center;
	align-items: center;
	size: 200px;
}