.title {
	display: flex;
	justify-content: center;
	align-items: center;
}
.rndm {
	display: flex;
	justify-content: center;
	align-items: center;
}

.pokemonImg {
	display: flex;
	justify-content: center;
	align-items: center;
	size: 600px;
}

.speech-bubble {
	position: relative;
	background: #dfa417;
	border-radius: .4em;
	text-align: center;
	width: 700px;
	left: 36.7%;
}
.speech-bubble:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-top-color: #dfa417;
	border-bottom: 0;
	border-left: 0;
	margin-left: -10px;
	margin-bottom: -20px;
}